@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #ffffff; /* background */
	--text: #111827; /* foreground */
}

.dark :root {
	--bg: #0b1220;
	--text: #e6edf3;
}

/* Ensure the document uses variables (keeps visuals minimal) */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin-inline: 0;
  	padding-inline: 0;
	background: var(--bg);
	color: var(--text);
}

header button {
	all: unset;
	-webkit-app-region: no-drag;
}

header{
	-webkit-app-region: drag;
}

